<%- include("../partials/layout", { pageTitle: "Individual Developer Skill", heading: skill.name }) %>

<% if (skill) { %>
  <p>Status: <%= skill.status %></p>
  <p>Resources:</p>
  <ul>
    <% skill.resources.forEach(resource => { %>
    <li><a href="<%= resource %>"><%= resource %></a></li>
    <% }); %>
  </ul>
  <p>Deadline: <%= skill.deadline %></p>

  <form action="/developerSkills/<%= skill.id %>?_method=DELETE" method="POST">
    <button type="submit" class="delete-button">Delete Skill</button>
  </form>
<% } %>

<a href="/developerSkills/<%= skill.id %>/edit" class="edit-link">Edit Skill</a>
<a href="/developerSkills" class="go-back">Go back to Developer Skills</a>
